.space{
    --size: 1px;
    width: var(--size);
    height: var(--size);
    background: #fff;
    box-shadow: var(--space-layer);
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    animation: moveStars var(--duration, 20s) linear infinite;
  }
  @keyframes moveStars {
    from { transform: translateY(0); }
    to { transform: translateY(-100vh);}
  }